# http://www.gnu.org/software/automake


# http://www.gnu.org/software/autoconf

*.o
*.lo
*.so 
*.so.*
*.la
*.lai
*.a
*.Po
*.Plo
*.log
*.status
*.deps*
*.libs*
Makefile
*.gch
libtool
main/main
*.out
.*.swp
tags
*.swo
*.swo
*.swo
*.swo
*.swo
*.swo
*.swo
*.swo
